@model TechMeet.DATA.EF.Position

@{
    ViewBag.Title = $"Delete {Model.Title}";
}

<div class="paper space">
    <h2 class="spaceup">@ViewBag.Title</h2>

    <h3 class="text-danger">Are you really sure?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobDescription)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-warning admin-btn" />
                <br />
                <br />
                @Html.ActionLink("Back to Main", "Index")
            </div>
        }
    </div>
</div>