@model TechMeet.UI.MVC.Models.RoleViewModel

@{
    ViewBag.Title = $"Edit {Model.Name}";
}

<div class="paper space">
    <h2 class="spaceup">@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-4 col-md-offset-2">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input type="submit" value="Save" class="btn brows-btn admin-btn" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to Main", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
