
@{
    ViewBag.Title = "TechMeet";
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- All Plugin Css -->
    @Styles.Render("~/Content/css")
</head>

<body>

    <!-- Navigation Start  -->
    <nav class="navbar navbar-default navbar-sticky bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    @Html.Partial("_LoginPartial")
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                    <li><a href="@Url.Content("~/Content/IsaacBeckDocumentation.pdf")">Site Documentation</a></li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employee"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore</a>
                            <ul class="dropdown-menu animated fadeOutUp" style="display: none; opacity: 1;">
                                @* TODO 2.awesome *@
                                @*<li><a href="@Url.Action("Details", "UserDetails")">Account Details</a></li>*@
                                <li><a href="@Url.Action("Index","OpenPositions")">Browse Jobs</a></li>
                                <li><a href="@Url.Action("Index", "Applications")">View Applications</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="@Url.Action("Index", "Positions")">Positions</a></li>
                                    <li><a href="@Url.Action("Index", "ApplicationStatus")">Application Status</a></li>
                                    <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                                    <li><a href="@Url.Action("Index", "RolesAdmin")">Roles</a></li>
                                    <li><a href="@Url.Action("Index", "UsersAdmin")">Users</a></li>
                                    <li><a href="@Url.Action("Index", "UserDetails")">User Details</a></li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- Navigation End  -->
    <div class="col-md-12  text-center" style="background-color: white;">
        @RenderBody()
    </div>
    <!-- footer start -->
    <footer>
        <div class="container">
            <div class="col-md-3 col-sm-6 space">
                <h4 class="spaceup">Featured Job</h4>
                @* TODO: V2.awesome *@
                @*<ul>
                    <li><a href="#">Browse Jobs</a></li>
                    <li><a href="#">Premium MBA Jobs</a></li>
                    <li><a href="#">Access Database</a></li>
                    <li><a href="#">Manage Responses</a></li>
                    <li><a href="#">Report a Problem</a></li>
                    <li><a href="#">Mobile Site</a></li>
                    <li><a href="#">Jobs by Skill</a></li>
                </ul>*@
            </div>

            <div class="col-md-3 col-sm-6">
                <h4 class="spaceup">Latest Job</h4>
                @*<ul>
                    <li><a href="#">Browse Jobs</a></li>
                    <li><a href="#">Premium MBA Jobs</a></li>
                    <li><a href="#">Access Database</a></li>
                    <li><a href="#">Manage Responses</a></li>
                    <li><a href="#">Report a Problem</a></li>
                    <li><a href="#">Mobile Site</a></li>
                    <li><a href="#">Jobs by Skill</a></li>
                </ul>*@
            </div>

            <div class="col-md-3 col-sm-6">
                <h4 class="spaceup">Reach Us</h4>
                @*<address>
                    <ul>
                        <li>
                            Kansas City, <br />
                            Missouri
                        </li>
                        <li>Email: support@techmeet.com</li>
                        <li>Call: 816 458 6587</li>
                    </ul>
                </address>*@
            </div>

            <div class="col-md-3 col-sm-6">
                <h4 class="spaceup">Email Us</h4>
                @* <form>
            <input type="text" class="form-control input-lg" placeholder="Your Name">
            <input type="text" class="form-control input-lg" placeholder="Email...">
            <textarea class="form-control" placeholder="Message"></textarea>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>*@
            </div>


        </div>
        <div class="copy-right">
            <p>&copy;Copyright @DateTime.Now.Year Isaac Beck | Design By <a href="https://themezhub.com/">ThemezHub</a></p>
        </div>
    </footer>

    @Scripts.Render("~/Content/js")

    @RenderSection("scripts", required: false)
</body>
</html>
