@model TechMeet.DATA.EF.OpenPosition

@{
    ViewBag.Title = $"{Model.Position.Title} at {Model.Location.StoreNumber}";
}
<div class="paper space" style="width:50%">
    <h2 class="spaceup">@ViewBag.Title</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Location.StoreNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.StoreNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Position.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Position.Title)
            </dd>

        </dl>
    </div>
    <p>
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionId }, new { @class = "btn brows-btn admin-btn" })
        }
        <br />
        <br />
        @Html.ActionLink("Back to Main", "Index")
    </p>
</div>