@model IEnumerable<TechMeet.DATA.EF.OpenPosition>

@{
    ViewBag.Title = "Available Positions";
}
<div class="paper space">
    <h2 class="spaceup">@ViewBag.Title</h2>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn brows-btn admin-btn" })
        </p>
    }
    <table class="table">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Location.StoreNumber)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Position.Title)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.StoreNumber)
                </td>
                <td>
                    @Html.ActionLink($"{item.Position.Title}", "Details", new { id = item.OpenPositionId })
                </td>
                <td>
                    @Html.ActionLink("Apply Here", "OneClickApply", new { id = item.OpenPositionId })
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionId }, new { @class = "btn brows-btn admin-btn" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionId }, new { @class = "btn brows-btn admin-btn" })
                    }
                </td>
            </tr>
        }

    </table>
</div>