@model TechMeet.DATA.EF.Application

@{
    ViewBag.Title = $"{Model.UserDetail.UserName}";
}

<div class="paper space" style="width:50%;">
    <h2 class="spaceup">@ViewBag.Title</h2>

    <div>
        <dl class="dl-horizontal">
            @Html.HiddenFor(x => x.OpenPositionId)
            <dt>
                @Html.DisplayNameFor(x => x.UserDetail.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(x => x.UserDetail.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ResumeFilename)
            </dt>

            <dd>
                <a href="@Url.Content("~/Content/resumes/" + Model.ResumeFilename)" target="_blank">View Resume</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationStatu.StatusName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManagerNotes)
            </dd>
        </dl>
    </div>

    <p>
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }, new { @class = " btn brows-btn admin-btn" })
        }
        <br />
        <br />
        @Html.ActionLink("Back to Main", "Index")
    </p>
</div>