@model IEnumerable<TechMeet.DATA.EF.Location>

@{
    ViewBag.Title = "Locations";
}

<div class="paper space">
    <h2 class="spaceup">@ViewBag.Title</h2>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn brows-btn admin-btn" })
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreNumber)
                </td>
                <td>
                    @Html.ActionLink($"{item.City}", "Details", new { id = item.LocationId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }, new { @class="btn brows-btn admin-btn" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.LocationId }, new { @class = "btn brows-btn admin-btn" })
                    }
                </td>
            </tr>
        }

    </table>
</div>