@model IEnumerable<TechMeet.DATA.EF.ApplicationStatus>

@{
    ViewBag.Title = "Application Statuses";
}

<div class="paper space">
    <h2 class="spaceup">@ViewBag.Title</h2>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn brows-btn admin-btn" })
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink($"{item.StatusName}", "Details", new { id = item.ApplicationStatusId })
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationStatusId }, new { @class = "btn brows-btn admin-btn" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationStatusId }, new { @class = "btn brows-btn admin-btn" })
                    }

                </td>
            </tr>
        }

    </table>
</div>